@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* color: linear-gradient(270deg, #EECD59 0%, #F4D65C 52.5%, #C89F49 100%); */
}
::-webkit-scrollbar {
  display: none !important;
}
.modal div.relative {
  border-radius: 1.5rem !important;
}

.modal div.relative::-webkit-scrollbar {
  width: 6px !important;
  background-color: #f3f4f9 !important;
}

.modal div.relative::-webkit-scrollbar-thumb {
  background-color: #9ea1ae !important;
  outline: none !important;
}

.react-international-phone-input {
  width: 100% !important;
  padding: 25px !important;
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}

.react-international-phone-country-selector-button {
  padding: 25px !important;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
}
.swiper {
  width: 500px;
  height: 630px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  color: #fff;
}

/* .swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
} */
.hotnotbg{
  background: #c514233a !important;
}
.slick-slider .slick-dots{
  position: relative !important;
  margin-bottom: 40px !important;
}
.slick-slider .slick-dots li>div{
  height: 8px !important;
  width: 8px !important;
} 
.slidecontainer {
  width: 100%;
}

.inputRange {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #E8E6EA;
  outline: none;

  -webkit-transition: .2s;
  transition: opacity .2s;
}

.inputRange:hover {
  opacity: 1;
}

.inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #272829;
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid white !important;

}

.css-j8gyih-TwoThumbInputRange{
  width: 100% !important;
}
.css-mx55hg{
  height: 6px !important;
}